@font-face {
    font-family: 'font-mono';
    src: url('font/font-mono.woff2') format('woff2'),
        url('font/font-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-size: 15px;
    font-family: "font-mono";
}
  
html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}


.projects{
    width: 600px;
    margin: 0 auto;
}

.project{
    width: 100%;
    margin-bottom: 40px;
}

canvas {
    display: block;
    margin-top: 10px;
}

h1{
    margin-bottom: 20px;
}

p{
    margin: 0;
}

.menu{
    z-index: 99999;
    mix-blend-mode: difference;
    position: relative;
}

.menu ul {
    padding-left: 0;
    margin-left: 0;
    line-height: 30px;
    margin: 0;
}

.menu ul li{
    display: inline;
    margin-right: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    border: solid 1px #fff;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.menu a:hover, .menu a:focus {
    color: #000;
    border-color: #0f0;
    background-color: #0f0;
    transition: background-color 0.5s ease;
}

  